<!DOCTYPE HTML>
<html>
<head>
<#include "admin/common.html"/>
<style type="text/css">

.long{
	width: 210px;
}

.short{
	width: 110px!important;
}

input[name='param']{
	width: 100px;
}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

<#include "admin/header.html"/>
<#include "admin/menu.html"/>

    <div class="layui-body">



        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menu.about")}</legend>
            </fieldset>



            <div class="layui-tab" lay-filter="test-hash">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="11">标签1</li>
                    <li lay-id="22">标签2</li>
                    <li lay-id="33">标签3</li>
                    <li lay-id="44">标签4</li>
                    <li lay-id="55">标签5</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">内容-1</div>
                    <div class="layui-tab-item">内容-2</div>
                    <div class="layui-tab-item">内容-3</div>
                    <div class="layui-tab-item">内容-4</div>
                    <div class="layui-tab-item">内容-5</div>
                </div>
            </div>



        </div>
    </div>
</div>



<#include 'admin/script.html'/>
<script src="${ctx}/js/admin/about/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>