<!DOCTYPE HTML>
<html>
<head>
<#include "common.html"/>
<style type="text/css">

.long{
    width: 210px;
}

.short{
    width: 110px!important;
}

input[name='param']{
    width: 100px;
}
</style>
</head>
<body class="layui-layout-body">
<!--<div class="layui-layout layui-layout-admin">-->

<!--    <div class="layui-body">-->
<!--        &lt;!&ndash; 内容主体区域 &ndash;&gt;-->
<!--        <div style="padding: 0px">-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<table class="layui-hide" id="demo" lay-filter="test"></table>



<#include "script.html"/>

<script src="${ctx}/js/admin/ca/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>