<!DOCTYPE HTML>
<html>
<head>
<#include "admin/common.html"/>
<style type="text/css">

.long{
	width: 210px;
}

.short{
	width: 110px!important;
}

input[name='param']{
	width: 100px;
}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <#include "admin/header.html"/>
    <#include "admin/menu.html"/>

    <div class="layui-body">


        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menuStr.cert")}</legend>
            </fieldset>

            <form action="${ctx}/adminPage/http" id="searchForm" method="post">
                <div class="layui-form">
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="add">${i18n.get("certStr.add")}</button>
                    </div>
                    <div class="layui-inline" style="display:none">
                        <button type="button" class="layui-btn layui-btn-sm" id="guide">${i18n.get("httpStr.guide")}</button>
                    </div>
                    <div class="layui-inline" style="display:none">
                        <button type="button" class="layui-btn layui-btn-sm">${i18n.get("upstreamStr.selectTemplateAsParam")}</button>
                    </div>
                    <div class="layui-inline" style="display:none">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">${i18n.get("commonStr.clear")}</button>
                    </div>
                </div>
            </form>

            <table class="layui-hide" id="demo" lay-filter="test"></table>


        </div>
    </div>
</div>


<div style="height: 500px; width: 300px; overflow: hidden;">
    <!-- 弹出框 -->
    <div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
        <form id="addForm1" class="layui-form" lay-filter="test">
            <input type="hidden" name="u">

            <div class="layui-form-item" id="div_id">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="id" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="approach">
            <label class="layui-form-label">approach</label>
            <div class="layui-input-block">
                <select name="approach" lay-filter="approach">
                    <option value="" selected></option>
                    <option value="0">免费证书</option>
                    <option value="1">手工上传</option>
                    <option value="2">自签名</option>
                </select>
            </div>
            </div>

            <div class="layui-form-item" id="renew">
                <label class="layui-form-label">是否开启自动renew证书</label>
                <br>
                <input type="hidden" name="renew">
<!--                <input type="checkbox" name="renew" title="是|否" lay-skin="switch" value="1" lay-filter="demo-checkbox-filter">-->
<!--                <input type="checkbox" name="agreement" value="1" title="是|否" lay-skin="switch" lay-filter="demo-checkbox-filter">-->
                <input type="checkbox" name="agreement" value="1" title="是否同意" lay-filter="demo-checkbox-filter">
                <br>
            </div>

            <div class="layui-form-item" id="supplier">
                <label class="layui-form-label">供应商</label>
                <div class="layui-input-block">
                    <select name="supplier" lay-filter="supplier">
                        <option value="" selected></option>
                        <option value="0">Let's Encrypt</option>
                        <option value="1">AliCloud</option>
                        <option value="2">TencentCloud</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" id="encryption">
                <label class="layui-form-label">加密方式</label>
                <div class="layui-input-block">
                    <select name="encryption" lay-filter="encryption">
                        <option value="" selected></option>
                        <option value="0">RSA</option>
                        <option value="1">ECC</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" id="challenge">
                <label class="layui-form-label">控制权</label>
                <div class="layui-input-block">
                    <select name="challenge" lay-filter="challenge">
                        <option value="" selected></option>
                        <option value="80">HTTP-01</option>
                        <option value="53">DNS-01</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" id="Ca">
                <label class="layui-form-label">Ca</label>
                <div class="layui-input-block">
                    <select name="caId" lay-filter="demo-select-filter" id="CaSelect">
                        <option value="" selected></option>
                    </select>
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="reloadCa">刷新</button>
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="newCa">新建</button>
                </div>
            </div>

            <div class="layui-form-item" id="domain">
                <label class="layui-form-label">domain</label>
                <div class="layui-input-block">
                    <input type="text" name="domain" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="aux">
                <label class="layui-form-label">aux</label>
                <div class="layui-input-block">
                    <input type="text" name="aux" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="subject">
                <label class="layui-form-label">subject</label>
                <div class="layui-input-block">
                    <input type="text" name="subject" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item" id="privateKey">
                <label class="layui-form-label">privateKey</label>
                <div class="layui-input-block">
                    <input type="text" name="privateKey" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:20px;margin-bottom:20px" id="certFile">
                <label class="layui-form-label">cert</label>
                <!--                <div class="layui-input-block">-->
                <!--                    <button type="button" class="layui-btn layui-btn-normal" id="upload-cert">cert file</button>-->
                <!--                </div>-->
                <div class="layui-input-inline short">
                    <button type="button" class="layui-btn layui-btn-normal" id="upload-cert">file</button>
                </div>
                <div class="layui-form-mid layui-word-aux"><span class="layui-inline layui-upload-choose" id="layui-upload-choose-cert"></span></div>

            </div>

            <div class="layui-form-item" style="margin-top:20px;margin-bottom:20px" id="privateKeyFile">
                <label class="layui-form-label">privateKey</label>
                <!--                <div class="layui-input-block">-->
                <!--                    <button type="button" class="layui-btn layui-btn-normal" id="upload-cert">cert file</button>-->
                <!--                </div>-->
                <div class="layui-input-inline short">
                    <button type="button" class="layui-btn layui-btn-normal" id="upload-key">file</button>
                </div>
                <div class="layui-form-mid layui-word-aux"><span class="layui-inline layui-upload-choose" id="layui-upload-choose-privateKey"></span></div>

            </div>


            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" id="addOver">${i18n.get("commonStr.submit")}</button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>
        </form>
    </div>

    <div class="layui-form" id="newDiv" style="padding: 15px; display: none">
        <form id="caForm" class="layui-form">
            <div class="layui-form-item" id="id">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="id" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="title">
                <label class="layui-form-label">title</label>
                <div class="layui-input-block">
                    <input type="text" name="title" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" id="new subject">
                <label class="layui-form-label">subject</label>
                <div class="layui-input-block">
                    <input type="text" name="subject" class="layui-input">
                </div>
            </div>




        <div class="layui-form-item center">
            <button type="button" class="layui-btn layui-btn-normal" id="newCaOver">${i18n.get("commonStr.submit")}</button>
        </div>
        </form>
    </div>


            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" id="ID-upload-demo-action">${i18n.get("commonStr.submit")}
                    <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop" id="loading" style="display: none"></i>
                </button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>

        </form>
    </div>

</div>

<#include 'admin/script.html'/>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="deleteAll">${i18n.get("commonStr.batchDelete")}</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="display: none">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="statusAll1" style="display: none">${i18n.get("commonStr.batchEnable")}</button>
        <button class="layui-btn layui-btn-sm" lay-event="statusAll0" style="display: none">${i18n.get("commonStr.batchDisable")}</button>
    </div>
</script>
<script src="${ctx}/js/admin/cert/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>