<html>
<title>${projectName}</title>

<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

<link rel="shortcut icon" href="${ctx}/img/favicon.ico" type="image/x-icon">

<link href="${ctx}/lib/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<link href="${ctx}/lib/layui/css/layui.css" rel="stylesheet" />
<link href="${ctx}/css/admin/base.css" rel="stylesheet" />

<body>

<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-panel">
                <div style="padding: 50px 30px;">


                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">${i18n.get("loginStr.name")}</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" id="name" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input" autofocus />
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">${i18n.get("loginStr.pass")}</label>
                            <div class="layui-input-block">
                                <input type="password" name="pass" id="pass" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input" onkeyup="getKeyCode()" />
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" onclick="login()">${i18n.get("loginStr.login")}</button>
                                <button type="button" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
        </div>
<!--        <div class="layui-col-md6">-->
<!--            <div class="layui-panel">-->
<!--                <div style="padding: 50px 30px;">一个面板</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>


</body>
<#include "admin/script.html"/>
<script src="${ctx}/lib/bcrypt/bcrypt.js" type="text/javascript"></script>
<script src="${ctx}/js/admin/login/index.js?v=${jsrandom}" type="text/javascript"></script>
</html>