<!DOCTYPE HTML>
<html>
<head>
<#include "admin/common.html"/>
<style type="text/css">

.long{
	width: 210px;
}

.short{
	width: 110px!important;
}

input[name='param']{
	width: 100px;
}
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

<#include "admin/header.html"/>
<#include "admin/menu.html"/>

    <div class="layui-body">



        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menu.plugin")}</legend>
            </fieldset>

            <form action="${ctx}/adminPage/http" id="searchForm" method="post">
<!--                <div class="layui-form">-->
<!--                    <div class="layui-inline" style="display: none">-->
<!--                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="add()">${i18n.get("httpStr.add")}</button>-->
<!--                    </div>-->
<!--                    <div class="layui-inline" style="display: none">-->
<!--                        <button type="button" class="layui-btn layui-btn-sm" onclick="guide()">${i18n.get("httpStr.guide")}</button>-->
<!--                    </div>-->
<!--                    <div class="layui-inline" style="display: none">-->
<!--                        <button type="button" class="layui-btn layui-btn-sm" onclick="selectTemplateAsHttp()">${i18n.get("upstreamStr.selectTemplateAsParam")}</button>-->
<!--                    </div>-->
<!--                    <div class="layui-inline" style="display: none">-->
<!--                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="preview(null,'http')">${i18n.get("commonStr.clear")}</button>-->
<!--                    </div>-->
<!--                </div>-->
            </form>

            <table class="layui-hide" id="demo" lay-filter="test"></table>


        </div>
    </div>
</div>

<div style="height: 0px; width: 0px; overflow: hidden;">
    <!-- 弹出框 -->
    <div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
        <form id="addForm1">
            <input type="hidden" name="id" id="id">

<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">${i18n.get("commonStr.name")}</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="text" name="id" class="layui-input">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">${i18n.get("commonStr.value")}</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <textarea  name="rawData" class="layui-textarea" ></textarea>-->
<!--                </div>-->
<!--            </div>-->

            <pre id="editor1" class=".json-editor"></pre>

            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" onclick="addOver()">${i18n.get("commonStr.submit")}</button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>
        </form>

    </div>

    <div class="layui-form" id="guideDiv" style="padding: 15px; display: none;">
        <pre id="editor" class=".json-editor"></pre>
    </div>

</div>

<#include 'admin/script.html'/>
<script src="${ctx}/js/admin/plugin/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>