<!DOCTYPE HTML>
<html>
<head>
<#include "admin/common.html"/>
<style type="text/css">

    .long{
        width: 210px;
    }

    .short{
        width: 110px!important;
    }

    input[name='param']{
        width: 100px;
    }
</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <#include "admin/header.html"/>
    <#include "admin/menu.html"/>

    <div class="layui-body">


        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menu.proto")}</legend>
            </fieldset>

            <form class="layui-form" id="searchForm" method="post">
                <div class="layui-form">

                    <div class="layui-col-md2"><div class="grid-demo">
                        &nbsp;
                    </div></div>

                    <div class="layui-col-md2"><div class="grid-demo">
                        &nbsp;
                    </div></div>
                    <div class="layui-col-md1"><div class="grid-demo">
                        <div class="layui-inline">
                            <a href=" https://apisix.apache.org/zh/docs/apisix/admin-api/#proto" class="layui-btn layui-btn-sm layui-bui-normal" target="_blank">${i18n.get("commonStr.help")}</a>
                        </div>
                    </div></div>
                </div>
            </form>

            <table class="layui-hide" id="demo" lay-filter="test"></table>


        </div>
    </div>
</div>

<div style="height: 500px; width: 300px; overflow: hidden;">
    <!-- 弹出框 -->
    <div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
        <form id="addForm1">


            <!--            <div class="layui-form-item">-->
            <!--                <label class="layui-form-label">${i18n.get("commonStr.name")}</label>-->
            <!--                <div class="layui-input-block">-->
            <!--                    <input type="text" name="id" id="id" class="layui-input">-->
            <!--                </div>-->
            <!--            </div>-->

            <!--            <div class="layui-form-item">-->
            <!--                <label class="layui-form-label">${i18n.get("commonStr.value")}</label>-->
            <!--                <div class="layui-input-block">-->
            <!--                    <textarea  name="rawData" id="rawData" class="layui-textarea" ></textarea>-->
            <!--                    <pre id="editor1" class=".json-editor"></pre>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="layui-form-item" id="div_id">
                <input type="text" name="id" id="id" class="layui-input" placeholder="id">
            </div>

            <div class="layui-form-item">
                <pre id="editor" class=".json-editor"></pre>
            </div>

            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" id="addOver">${i18n.get("commonStr.submit")}</button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>
        </form>
    </div>
    <div class="layui-form" id="viewDiv" style="padding: 15px; display: none">
        <pre id="viewEditor" class=".json-editor"></pre>
    </div>



</div>

<#include 'admin/script.html'/>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add"><i class="layui-icon  layui-icon-add-1"></i></button>
        <button class="layui-btn layui-btn-sm" lay-event="more">${i18n.get("commonStr.batch")}<i class="layui-icon layui-icon-down layui-font-12"></i></button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="display: none">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="clear"><i class="layui-icon  layui-icon-delete"></i></button>
    </div>
</script>
<script src="${ctx}/js/admin/proto/index.js?v=${jsrandom}" type="text/javascript"></script>
</body>
</html>