<!DOCTYPE HTML>
<html>
<head>
<#include "admin/common.html"/>
<style type="text/css">

        .long{
            width: 210px;
        }

        .short{
            width: 110px!important;
        }

        input[name='param']{
            width: 100px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

<#include "admin/header.html"/>
<#include "admin/menu.html"/>

    <div class="layui-body">



        <!-- 内容主体区域 -->
        <div style="padding: 15px">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>${i18n.get("menu.user")}</legend>
            </fieldset>

            <form action="${ctx}/adminPage/http" id="searchForm" method="post">
                <div class="layui-form">
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="add()">${i18n.get("httpStr.add")}</button>
                    </div>
                    <div class="layui-inline" style="display: none">
                        <button type="button" class="layui-btn layui-btn-sm" onclick="guide()">${i18n.get("httpStr.guide")}</button>
                    </div>
                    <div class="layui-inline" style="display: none">
                        <button type="button" class="layui-btn layui-btn-sm" onclick="selectTemplateAsHttp()">${i18n.get("upstreamStr.selectTemplateAsParam")}</button>
                    </div>
                    <div class="layui-inline" style="display: none">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="preview(null,'http')">${i18n.get("commonStr.preview")}</button>
                    </div>
                </div>
            </form>

            <table class="layui-hide" id="demo" lay-filter="test"></table>


        </div>
    </div>
</div>

<div style="height: 500px; width: 300px; overflow: hidden;">
    <!-- 弹出框 -->
    <div class="layui-form" id="windowDiv" style="padding: 15px; display: none">
        <form id="addForm1">
            <!--            <input type="hidden" name="id" id="id">-->

            <div class="layui-form-item">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="id" id="id" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">username</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">password</label>
                <div class="layui-input-block">
                    <input type="password" name="pass" id="pass" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" onclick="addOver()">${i18n.get("commonStr.submit")}</button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>
        </form>
    </div>
    <div class="layui-form" id="windowDiv2" style="padding: 15px; display: none">
        <form id="addForm2">
            <!--            <input type="hidden" name="id" id="id">-->

            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                    <input type="text" name="id"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">username</label>
                <div class="layui-input-block">
                    <input type="text" name="name"  class="layui-input" readonly>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">password</label>
                <div class="layui-input-block">
                    <input type="password" name="pass"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item center">
                <button type="button" class="layui-btn layui-btn-normal" onclick="updateOver()">${i18n.get("commonStr.submit")}</button>
                <button type="button" class="layui-btn" onclick="layer.closeAll()">${i18n.get("commonStr.close")}</button>
            </div>
        </form>
    </div>
</div>

<#include 'admin/script.html'/>

</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="deleteAll">批量删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData" style="display: none">获取选中行数据</button>
    </div>
</script>

<script>
    function add() {
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer;
            var form = layui.form;
            // clean data
            $('#addForm1 input[name="id"]').val("");
            $('#addForm1 input[name="name"]').val("");
            $('#addForm1 input[name="pass"]').val("");
            layer.open({
                type: 1,
                area: ['800px', '600px'],
                title: '添加新用户',
                content : $('#windowDiv')
            });
        });
    }


    function addOver() {
        var layer = layui.layer //弹层
        var laypage = layui.laypage //分页
        var table = layui.table //表格

        $.ajax({
            type : 'POST',
            url : '/api/add/user',
            data : $('#addForm1').serialize(),
            dataType : 'json',
            success : function(data) {
                if(data.code=='200'){
                    //location.reload();
                    layer.closeAll();
                    layer.msg("新增成功");
                    //location.reload();
                    table.reload('demo',{});
                } else {
                    layer.msg(data.description);
                }
            },
            error : function() {
                layer.alert("系统错误");
            }
        });
    }

    function updateOver() {
        var layer = layui.layer //弹层
        var laypage = layui.laypage //分页
        var table = layui.table //表格
        $.ajax({
            type : 'POST',
            url : '/api/update/user',
            data : $('#addForm2').serialize(),
            dataType : 'json',
            success : function(data) {
                console.log(data);
                if(data.code=='200'){
                    //location.reload();
                    layer.closeAll();
                    layer.msg("修改成功");
                    //location.reload();
                    table.reload('demo',{});
                } else {
                    layer.msg(data.description);
                }
            },
            error : function() {
                layer.alert("系统错误");
            }
        });
    }

    function addLink(d) {
        var addLink = d.id;
        if ('' == addLink || null == addLink || undefined == addLink) {
            return '';
        }
        if (addLink.length > 0) {
            return '<a class="layui-btn   layui-btn-normal  layui-btn-xs " href="javascript:void(0)" lay-event="edit">' +'编辑' + '</a> '+'| <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
        }
    }

    layui.use(function(){ //亦可加载特定模块：layui.use(['layer', 'laydate', function(){
                          //得到各种内置组件
        var layer = layui.layer //弹层
            ,laypage = layui.laypage //分页
            ,table = layui.table //表格

    //向世界问个好
    //layer.msg('Hello World');

    var default_limt = localStorage.getItem('pageLimit');

    if ('' == default_limt || null == default_limt || undefined == default_limt) {
        default_limt = cfg.pageLimit;
    }
    //console.log("default_limt="+default_limt)


        //执行一个 table 实例
        table.render({
            elem: '#demo'
            ,height: 620
            ,url: '/api/user' //数据接口
            ,title: '用户表'
            ,page: true //开启分页
            , limit: default_limt
            , limits: cfg.pageLimits
            ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,totalRow: false //开启合计行
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'id', title: 'ID', width:300, sort: true, fixed: 'left', totalRowText: '合计：'}
                ,{field: 'name', title: 'name', width:80}
                , {field: 'upstream', title: 'upstream', width: 200, templet: addLink}
            ]]
            , done: function (res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                console.log(res);
                //得到当前页码
                console.log(curr);
                //得到数据总量
                console.log(count);


                // 获取配置项
                var thisOptions = table.getOptions('demo');
                console.log(thisOptions);
                localStorage.setItem('pageLimit', thisOptions.limit);


                if(res.data.length == 0){
                    if(curr>1){
                        toPage=curr-1;
                        console.log(toPage);
                        table.reload('demo',{page: {curr:toPage}});
                    }
                }
            }
            ,response: {
                statusCode: 200
            }
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.description, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });

        //头部工具条事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'deleteAll':
                    var dataX = checkStatus.data;
                    var allId = [];
                    if (dataX.length === 0) {
                        layer.msg('请选择要删除的数据');
                    } else {
                        layer.confirm('确定删除选中的数据吗？', function(index) {
                            // 发送删除请求，并重新加载表格
                            //console.log(JSON.stringify(dataX));
                            console.log(dataX)
                            for (let i = 0; i < dataX.length; i++) {
                                const val = dataX[i];
                                if(val.id == "1"){
                                    continue;//在id=1的情况下跳过剩余循环，直接进入id=2的循环。
                                }else{
                                    allId.push(val.id)
                                }





                            }
                            $.ajax({
                                url: '/api/del/user',
                                type:'post',
                                contentType: 'application/json',
                                data: JSON.stringify({id: allId}),
                                success:function (data,statusText) {
                                    //alert(data.code)
                                    if(data.code=='200'){
                                        table.reload('demo',{});
                                        layer.msg('删除成功');
                                        //table.reload('idTest',{});
                                    }else{
                                        layer.msg(data.description);
                                    }
                                },
                                'error':function () {
                                    //layer.msg('系统错误');
                                }
                            });


                            layer.close(index);
                        });


                    }
                    break;
            }
        })

        //工具条事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'detail'){ //查看
                //do something
            } else if(layEvent === 'del'){ //删除
                var layer = layui.layer;
                if(obj.data.id == "1") {
                    layer.msg("该账号不可删除！")
                }else{
                    layer.confirm('真的删除行么', function (index) {
                        //alert(obj.data.id);
                        //向服务端发送删除指令
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        $.ajax({
                            url: '/api/del/user',
                            type: 'post',
                            data: "id=" + obj.data.id,
                            success: function (data, statusText) {
                                //alert(data.code)
                                if (data.code == '200') {
                                    layer.msg('删除成功');
                                    table.reload("user")
                                    //table.reload('idTest',{});
                                } else {
                                    layer.msg(data.description);
                                }
                            },
                            'error': function () {
                                layer.msg('系统错误');
                            }
                        });

                        layer.close(index);
                    });
                }
                // } else if(layEvent === 'edit'){ //编辑
                //     //do something
                //
                //     //同步更新缓存对应的值
                //     obj.update({
                //         username: '123'
                //         ,title: 'xxx'
                //     });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            } else if (layEvent === 'edit'){//编辑,暂无方法体
                var layer = layui.layer;
                var form = layui.form;
                console.log(obj.data.id);
                $.ajax({
                    url: '/api/get/user',
                    type:'post',
                    contentType: 'application/json',
                    data:JSON.stringify({id:obj.data.id}),
                    success:function (data,statusText) {
                        console.log(data);
                        //var element =
                        if(data.code=='200'){
                            $('#addForm2 input[name="id"]').val(data.data.id);
                            $('#addForm2 input[name="name"]').val(data.data.name);
                            $('#addForm2 input[name="pass"]').val(data.data.pass);
                            //layer.msg(data.description);
                            layer.open({
                                type: 1,
                                area: ['800px', '600px'],
                                title: '修改用户',
                                content : $('#windowDiv2')
                            });
                        }else{
                             layer.msg(data.description);
                        }
                    },
                    'error':function () {
                        layer.msg('系统错误');
                    }
                });
            }
        });

        //监听Tab切换
        element.on('tab(demo)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });
    });

</script>

</html>